.answer {
  display: none;
  font-family: monospace;
}

body {
  background-image: linear-gradient(to right, slategrey, rgb(175, 78, 78));
}

h3 {
  font-family: monospace;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(48, 203, 250);
  text-align: center;
  font-family: monospace;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
}

img {
border-radius: 12px;
}

.header {
  font-family: monospace;
  padding-top: 5px;
}

#comic-sans {
  font-family: sans-serif;
}

@keyframes sweet {
  from {background-color: rgb(243, 171, 14);}
  to {background-color: royalblue;}
}

span {
  width: 100px;
  height: 100px;
  background-color: rgb(243, 171, 14);
  animation-name: sweet;
  animation-duration: 4s;
  border-radius: 4px;
}

.music {
  float: right;
  padding-right: 50px;
  font-family: monospace;
  padding-top: 5px;
}

